@import url(http://fonts.googleapis.com/css?family=Noto+Serif);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
    font-family: 'Noto Serif', 'Noto Sans', sans-serif;
    font-size: 12pt;
    letter-spacing:0.09em;
}

.no-break {
    page-break-before: avoid !important;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #f47142;
}
a:link {
    color: #f47142;
}
a:visited {
    color: #f47142;
}
a.internal {
    color: #f47142 !important;
}
a.external {
    color: #f47142 !important;
}

.h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    line-height: 24px;
    page-break-before: auto !important;
    page-break-after: avoid !important;
    break-after: avoid-page !important;
}

.page-header {
    border-bottom: solid grey 1px;
    font-style: italic;
    height: 1.5em;
    width: 100%;
}

.page-header .section {
    text-align: left;
}

.page-header .subsection {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    max-height: 1.5em;
}

.bible-book {
    margin: 0 !important;
}

.bible-book-text {
    text-align: justify;
    justify-content: space-between;
    text-rendering: geometricPrecision;
    margin: 0 !important;
}

.bible-book-text h1 {
    margin-top: 0;
    padding-top: 0;
    display: block;
    text-align: center;
}

p.indent-0 {
    margin-left:0em !important;
    margin-bottom:0em !important;
    margin-top:0em !important;
}
p.indent-1 {
    margin-left:1em !important;
    margin-bottom:0em !important;
    margin-top:0em !important;
}
p.indent-2 {
    margin-left:2em !important;
    margin-bottom:0em !important;
    margin-top:0em !important;
}
p.indent-3 {
    margin-left:3em !important;
    margin-bottom:0em !important;
    margin-top:0em !important;
}
.c-num {
    color:gray;
}
.v-num {
    color:gray;
    margin-right: 3px;
}

.tetragrammaton {
    font-variant: small-caps;
}
.footnotes {
    font-size: 0.8em;
}
.footnotes-hr {
    width: 90%;
}

.page {
    height: 1165px;
    padding-bottom: 10px;
    width: 800px;
    overflow:hidden;
    margin: 0;
    page-break-after: always;
    position: relative;
}

.col {
    width: 380px;
    padding: 10px;
    min-height: 600px;
    position: absolute;
    top: 0;
}

.footnotesSection {
    width: 380px;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
}

.footnotesSection > div.footnote:first-child {
    border-top: solid #9a9a9a 1px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.col p {
    text-align: justify;
    letter-spacing:0.09em;
    padding: 0;
    margin-top: 28px;
    margin-bottom: 28px;
}

.col p:first-child {
    margin-top: 0;
    padding-top: 0;
}

p {
    line-height:28px;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em; 
}
