@font-face {
  font-family: Noto Serif;
  font-weight: 400;
  src: url(../../fonts/NotoSerif-Regular.ttf);
}
@font-face {
  font-family: Noto Serif;
  font-style: italic;
  font-weight: 400;
  src: url(../../fonts/NotoSerif-Italic.ttf);
}
@font-face {
  font-family: Noto Serif;
  font-weight: 300;
  src: url(../../fonts/NotoSerif-Light.ttf);
}
@font-face {
  font-family: Noto Serif;
  font-style: italic;
  font-weight: 300;
  src: url(../../fonts/NotoSerif-LightItalic.ttf);
}
@font-face {
  font-family: Noto Serif;
  font-weight: bold;
  src: url(../../fonts/NotoSerif-Bold.ttf);
}

html, body {
    font-family: 'Noto Serif', sans-serif;
    font-size: 12px;
}

@page {
    size: letter portrait;
    margin: 1.5cm;

    @top-left {
        content: string(heading1);
        font-size: 12px;
        text-align: left;
        font-style: italic;
        white-space: nowrap;
        line-height: 12px;
    }
    @top-right {
        content: string(heading2) string(heading3) string(heading4);
        font-size: 12px;
        text-align: right;
        font-style: italic;
        line-height: 12px;
    }
    @bottom-center {
        content: counter(page) " / " counter(pages);
        font-size: 12px;
        text-align: center;
        vertical-align: top;
    }
}

article.cover, article#contents {
    page: no-header;
}

article#main-cover {
    page: no-header-footer;
}

@page no-header-footer {
    @top-left {
        content: '';
    }
    @top-right {
        content: '';
    }
    @bottom-center {
        content: '';
    }
}

@page no-header {
    @top-left {
        content: '';
    }
    @top-right {
        content: '';
    }
}

html body article#contents {
    font-size: 12px;
}

html body article#contents h1 {
    text-align: center;
}

html body article#contents > ul > li > a {
    font-weight: bold;
}
html body article#contents ul {
    list-style: none;
    padding-left: 0;
}
html body article#contents ul ul {
    padding-left: 10px;
}
html body article#contents ul li {
    width: 100%;
}
html body article#contents ul li a {
    color: #000 !important;
    text-decoration: none;
    border-bottom: 1px dashed rgb(200, 200, 200);
    clear: both;
    display: block;
    height: 1.2em;
}
html body article#contents ul li a span {
    float: left;
    background-color: white;
}
html body article#contents ul li div.toc-item a::before {
    content: target-text(attr(href));
}
html body article#contents ul li  a::after {
    color: inherit;
    content: target-counter(attr(href), page);
    float: right;
    background-color: white;
    margin-bottom: 3px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    page-break-before: auto !important;
    page-break-after: avoid !important;
    break-after: avoid-page !important;
}

.frame-text {
  font-style: italic;
  font-size: 1.2em;
}

.section-header {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight: bold;
}

li {
    page-break-before: avoid;
    page-break-after: auto;
}

.page-break, .break {
    page-break-before: always !important;
    clear: both;
}

.no-break {
    page-break-before: avoid !important;
}

dl {
    padding: 0;
}

dl dt {
    padding: 0;
    margin-top: 16px;
    font-style: italic;
    font-weight: bold;
}

dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

blockquote {
    padding: 0 15px;
    color: #444;
    border-left: 4px solid #ddd;
}
blockquote > :first-child {
    margin-top: 0;
}
blockquote > :last-child {
    margin-bottom: 0;
}

table {
    overflow: auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    page-break-inside: avoid;
}
table th {
    font-weight: bold;
}
table th,
table td {
    padding: 6px 13px !important;
}

a, a:link, a:visited, a.internal, a.external {
    text-decoration: none;
    color: #0000BB !important;
}

.docs-bubble-link, .docs-bubble a {
    color: #f47142!important;
    cursor: pointer;
    text-decoration: none!important;
}

img {
    max-width: 600px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

#ta-copyright-info {
    padding: 5px 0;
}

ul li, ul li p {
    margin: 0;
}
div > ul > li:first-child, ol > li > ul > li:first-child {
    margin-top: 1em;
}
div > ul > li:last-child, ol > li > ul > li:last-child {
    margin-bottom: 1em;
}
ul li li:last-child {
    margin-bottom: .5em;
}

.h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight: bold;
}

.h2 {
    display: block;
    font-size: 1.4em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight: bold;
}

.h3 {
    display: block;
    font-size: 1.2em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight: bold;
}

.h4 {
    display: block;
    font-size: 1em;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight: bold;
}

.h5 {
    display: block;
    font-size: 1em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight: bold;
}

.h6 {
    display: block;
    font-size: 0.75em;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight: bold;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: upper-latin;
}
ol ol ol {
  list-style-type: lower-latin;
}
ol ol ol {
  list-style-type: upper-roman;
}
ol ol ol ol {
  list-style-type: lower-roman;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}
ul ul ul ul ul {
  list-style-type: disc;
}

hr {
    display: none;
    /*margin: 0 auto;*/
    /*width: 95%;*/
    /*border-top: thin;*/
    /*margin: 10px 0;*/
    /*color: gray;*/
}

table.tn-notes-table {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.page-header {
    border-bottom: solid grey 1px;
    font-style: italic;
    height: 1.5em;
    width: 100%;
}

.page-header .section {
    text-align: left;
}

.page-header .subsection, .page-header .subsubsection {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    max-height: 1.5em;
}

.hidden {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 2px;
    height: 2px;
    line-height: 2px;
}

.resource-title-page {
    text-align: center;
    padding-top: 200px
}

.col1 p {
    padding: 0;
    margin: 0;
}

.box {
    display: block;
    font-size: .8em;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    margin: 5px;
    page-break-inside: avoid;
    padding: 10px;
}

.box ul {
    padding: 0;
    margin: 0;
}

.box li {
    list-style: none;
    font-style: italic;
}

.box p {
    margin: 5px 0;
}

.box a {
    line-height: 1.8em;
}

.top-box {
    margin: 0 0 3px 5px;
    float: right;
    width: 250px;
}

.bottom-box {
    clear: both;
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
}

section, article {
    clear: both;
    page-break-before: always;
}

section > section:first-child, section > .section-header:first-child + section, section > article:first-child {
    page-break-before: avoid !important
}

article.cover {
    page-break-before: always;
    padding-top: 100px;
    text-align: center;
}

article.cover img {
    width: 120px;
}

html body .manual-cover h2 {
    string-set: heading1 content(), heading2 "", heading3 "", heading4 "";
}

html body section h2.section-header {
    string-set: heading2 content(), heading3 "", heading4 "";
}

html body section h3.section-header {
    string-set: heading3 " :: " content(), heading4 "";
}

html body section h4.section-header {
    string-set: heading4 " :: " content();
}

code {
    page-break-inside: avoid;
}